[Unit]
Description=Launch PiOSK runner to start Chromium
After=network.target

[Service]
Type=simple
ExecStart=chromium
User=admin
WorkingDirectory=/home/admin
Environment=DISPLAY=:0
Environment=XAUTHORITY=PI_HOME/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/PI_SUID
Restart=on-failure

[Install]
WantedBy=graphical.target